/* Clients */
.section-company {
  background: $accent-white-color;
  padding-top: 94px;
  padding-bottom: 94px;
  .company-text {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .company-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iten {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;

    width: 170px;
    height: 90px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:hover,
    &:focus {
      --color3: #2196f3;
      border: 1px solid $bg-color-accent;
    }
  }
}
